// ==============================
// Override Variables
// 覆盖变量
// ==============================

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');


// ========== Global ========== //
// Font and Line Height
$global-font-family: 'IBM Plex Mono', monospace;
$global-font-size: 16px;
$global-font-weight: 300;
$global-line-height: 1.5rem;

// Color of the background""
$global-background-color: #faf4ed; //Base
$global-background-color-dark: #191724; //Base

// Color of the text
$global-font-color: #575279; //Text
$global-font-color-dark: #e0def4; //Text

// Color of the secondary text
$global-font-secondary-color: #d7827e; //Rose
$global-font-secondary-color-dark: #ebbcba; //Rose

// Color of the link
$global-link-color: #56949f; //Foam
$global-link-color-dark: #9ccfd8; //Foam

// Color of the hover link
$global-link-hover-color: #ea9d34; //Gold
$global-link-hover-color-dark: #f6c177; //Gold

// Color of the border
$global-border-color: #286983; //Pine
$global-border-color-dark: #31748f; //Pine
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color: #ebbcba; //Rose

// Color of the hover scrollbar
$scrollbar-hover-color: #f6c177; //Gold
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(206, 202, 205, 0.25); //Highlight High
$selection-color-dark: rgba(82, 79, 103, 0.4); //Highlight High
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem;

// Font family and size of the header title
$header-title-font-family: $global-font-family;
$header-title-font-size: 1.5rem;

// Color of the header background
$header-background-color: #fffaf3; //Surface
$header-background-color-dark: #1f1d2e; //Surface

// Color of the hover header item
$header-hover-color: #797593; //Subtle
$header-hover-color-dark: #908caa; //Subtle

// Color of the search background
$search-background-color: #f2e9e1; //Overlay
$search-background-color-dark: #26233a; //Overlay
// ========== Header ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem;
$toc-content-font-size: 1rem;

// Color of the single link
$single-link-color: #56949f; //Foam
$single-link-color-dark: #9ccfd8; //Foam

// Color of the hover single link
$single-link-hover-color: #ea9d34; //Gold
$single-link-hover-color-dark: #f6c177; //Gold

// Color of the table background
$table-background-color: #fffaf3; //Surface
$table-background-color-dark: #1f1d2e; //Surface

// Color of the table thead
$table-thead-color: #f2e9e1; //Overlay
$table-thead-color-dark: #26233a; //Overlay

// Color of the blockquote
$blockquote-color: #26233a; //Overlay


